<!DOCTYPE html>
<html lang="en" class="theme-dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MacMatch</title>
  <link rel="icon" href="/static/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="/static/css/bulma.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <section class="section">
    <div class="container has-text-centered">
      <!-- logo -->
      <figure class="image is-inline-block mb-6">
        <a href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="MacMatch">
        </a>
      </figure>
      <!-- search form -->
      <form method="POST">
        <div class="field has-addons is-justify-content-center">
          <div class="control is-expanded">
            <input 
              class="input" 
              type="text" 
              name="query" 
              placeholder="Enter Mac model, part number, CPU, EMC number, etc. (e.g. A2941, MacBook9.1, Core i5, Space Gray)" 
              value="{{ query }}"
            >
          </div>
          <div class="control">
            <button class="button is-info" type="submit">Strike!</button>
          </div>
        </div>
      </form>
      <!-- results table -->
      {% if grouped_results %}
        {% for (tag, color), items in grouped_results.items() %}
          <h2 class="subtitle has-text-left mt-5">
            {% for c in color.split('/') %}
              <span class="tag mac-color-{{ c | lower | replace(' ', '-') }}">{{ c }}</span>
            {% endfor %}
  
            <span class="tag is-pulled-right">{{ tag }}</span>
          </h2>
          <table class="table is-striped is-fullwidth responsive-table-text">
            <thead class="is-uppercase">
              <tr>
                {% for key in items[0].keys() %}
                  {% if key != 'tag' %}
                    <th>{{ key }}</th>
                  {% endif %}
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for row in items %}
                <tr>
                  {% for key, val in row.items() %}
                    {% if key != 'tag' %}
                      <td class="py-2">
                        {% if key == 'size' %}
                          {{ val }}"
                        {% else %}
                          {{ val }}
                        {% endif %}
                      </td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endfor %}
      {% elif query %}
        <p class="has-text-danger mt-4">No results found for "{{ query }}"</p>
      {% endif %}
    </div>
  </section>
</body>
</html>
